{% extends "auctions/layout.html" %}
{% load humanize %}
{% block body %}
    <h2>Active Listings</h2>
    <div class="index-page">
    {% for row in info %}
        <div class="listing-wrapper">
            <div class="listing-image">
                   <a href="listings/{{ row.id }}"><img src="{{ row.image_1 }}" class="listing-image"></a>
            </div>
            <div class="listing-info">
                <div class="listing-title">
                    <a href="listings/{{ row.id }}">{{ row.title }}</a>
                </div>
                <div>
                    <p>Description: {{ row.description }}</p>
                </div>
                <div class="listing-pricing">
                    <div class="listing-bid">Current bid: ${{ row.highest_bid|floatformat:2|intcomma }}</div>
                    <div class="listing-buyout">Buyout: ${{ row.buyout|floatformat:2|intcomma }}</div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}