{% extends 'auctions/layout.html' %}
{% include 'auctions/styles.css' %}
{% load humanize %}

{% block body %}
    <div id="listing-top-part">
        <div id="listing-carousel" class="carousel" data-interval="false">
            <div class="carousel-inner">
            {% if info.0.image_1 %}
                <div class="carousel-item active" style="background-image:url('{{ info.0.image_1 }}');">
                </div>
            {% endif %}
            {% if info.0.image_2 %}
                <div class="carousel-item" style="background-image:url('{{ info.0.image_2 }}');">
                </div>
            {% endif %}
            {% if info.0.image_3 %}
                <div class="carousel-item" style="background-image:url('{{ info.0.image_3 }}');">
                </div>
            {% endif %}
            {% if info.0.image_4 %}
                <div class="carousel-item" style="background-image:url('{{ info.0.image_4 }}');">
                </div>
            {% endif %}
            {% if info.0.image_5 %}
                  <div class="carousel-item" style="background-image:url('{{ info.0.image_5 }}');">
                  </div>
            {% endif %}
            </div>
            <a class="carousel-control-prev" href="#listing-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#listing-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
        <div id="listing-purchase-menu">
            <div id="listing-page-header">
                <h2 id="listing-page-title">{{ info.0.title }}</h2>
                {% if info.0.listing_owner == current_user %}
                <form id="listing-closing-form" action="{% url 'close_listing' %}" method="post">
                    <input name="listing_id" readonly value="{{ info.0.id }}" class="hidden">
                    <button class="btn btn-secondary" form="listing-closing-form">End</button>
                    {% csrf_token %}
                </form>
                {% else %}
                <form id="listing-closing-form" method="post">
                    <input name="listing_id" readonly value="{{ info.0.id }}" class="hidden">
                    {% if watchlist_check == False %}
                        <button class="btn btn-secondary" form="listing-closing-form" formaction="{% url 'save_watchlist' %}">Watch</button>
                    {% else %}
                        <button class="btn btn-secondary" form="listing-closing-form" formaction="{% url 'remove_watchlist' %}">Unwatch</button>
                    {% endif %}
                    {% csrf_token %}
                </form>
                {% endif %}
            </div>
            <div>
                <p>Highest Bid: ${{ info.0.highest_bid|floatformat:2|intcomma }} {% if info.0.winning_user %} by {{ info.0.winning_user }} {% endif %}</p>
                {% if info.0.buyout %}
                <p>Buyout: ${{ info.0.buyout|floatformat:2|intcomma }}</p>
                {% endif %}
            </div>
            <div id="purchase-form-wrapper">
                {% if info.0.listing_status == "Open" %}
                <form id="buy-form" class="hidden" method="post">
                    <input name="highest_bid" type="number" step="2" class="hidden" value="{{ info.0.highest_bid }}">
                    <input name="buyout" type="number" step="2" class="hidden" value="{{ info.0.buyout }}">
                    <input name="listing_id" readonly value="{{ info.0.id }}" class="hidden">
                    {% csrf_token %}
                </form>
                <form id="purchase-form" method="post">
                    {{ purchase_form.bid_field }}
                    <input name="highest_bid" type="number" step="2" class="hidden" value="{{ info.0.highest_bid }}">
                    <input name="buyout" type="number" step="2" class="hidden" value="{{ info.0.buyout }}">
                    <input name="listing_id" readonly value="{{ info.0.id }}" class="hidden">
                    {% csrf_token %}
                </form>
                <div id="form-buttons">
                    <button type="submit" class="btn btn-secondary" form="purchase-form" formaction="{% url 'bid' %}">Bid</button>
                    {% if info.0.buyout %}
                    <button type="submit" class="btn btn-secondary" form="buy-form" formaction="{% url 'buy' %}">Buy</button>
                    {% endif %}
                    <p>{{ error }}</p>
                </div>
                {% else %}
                    {% if info.0.winning_user != None %}
                        <p>The winner of this auction is: {{ info.0.winning_user }}!</p>
                    {% else %}
                        <p>This auction expired with no winners.</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div id="description-wrapper">
        <div id="listing-description">
            <h2>Details</h2>
            <p>Seller: {{ info.0.listing_owner }}</p>
            <p>Created in: {{ info.0.listing_day }} at {{ info.0.listing_time }}</p>
            <p>{{ info.0.description }}</p>
        </div>
    </div>
    <div id="comments-area">
        {% if request.user.is_authenticated %}
        <form id="comment-form" method="post" action="{% url 'log_comment' %}">
            <div id="comment-input-wrapper">
                <textarea name="comment_content" id="comment-input"></textarea>
            </div>
            <input name="listing_id" class="hidden" value="{{ info.0.id }}" readonly>
            <div id="btn-wrapper">
                <button type="submit" class="btn btn-secondary">Comment</button>
            </div>
            {% csrf_token %}
        </form>
        {% endif %}
        <div id="comments">
            {% for comment in comments %}
                <div class="comment-wrapper card bg-light">
                    <div class="user-info-comments card-header">
                        <h5 class="username">{{ comment.author }}</h5>
                        <h6 class="comment-time">{{ comment.comment_day }} - {{ comment.comment_time }}</h6>
                    </div>
                    <div class="comment-content-wrapper">
                        <p>{{ comment.comment }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}