body {
    padding: 10px;
}

.margin-left {
    margin-left: auto;
}

.hidden {
    display: none;
}

#login-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-bar {
    margin-left: 10vw;
}

.index-prices {
    font-size: 1.5rem;
}

#listing-form {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 1000px;
    }

@media screen and (min-width: 1000px) {
    #listing-form {
        padding-left: 10vw;
    }
}

.form-control {
    margin-bottom: 10px;
    max-width: 1000px;
}

.form-select {
    margin-bottom: 10px;
    width: 185px;
}

.description {
    height: 30vh;
    max-height: 300px;
}

.money-field {
    width: 100px;
}

.index-page {
    display: grid;
    padding-left: 10vw;
}

.card {
    max-width: 900px;
    margin-top: 5vh;
    box-shadow: 10px 10px 0 -4px rgba(0, 0, 0, 0.1), 10px 10px 0 0 rgba(0, 0, 0, 0.7);
}

.card-title {
    font-family: 'Roboto', serif;
}

.listing-title {
    padding-left: 4vw;
    font-size: 0.7em;
}

.listing-wrapper {
    display: flex;
    height: 25vh;
    width: 80vw;
    border-radius: 10px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}

.listing-image {
    max-height: 22vh;
    width: 25vw;
    max-width: 200px;
    border-radius: 10px;
}

.image-index {
    object-fit: cover;
    max-height: 22vh;
    max-width: 200px;
    border-radius: 10px;
}

.listing-info {
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    justify-content: space-between;
}

.listing-title a {
    font-size: 2em;
    color:black;
    text-decoration: none;
}

.listing-pricing {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 10vh;
    min-width: 200px;
    justify-content: space-between;
}

#comment-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#comment-input {
    width: 50vw;
    min-height: 20vh;
}

#comment-input-wrapper {
    display: flex;
    justify-content: center;
}

#comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.comment-wrapper {
    width: 50vw;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
    margin-bottom: 3vh;
}

.comment-time {
    padding-left: 1vw;
    font-size: 0.7em;
}

.username {
    padding-left: 0.5vw;
}


.comment-content-wrapper {
    min-height:8vh;
    padding-left: 1vw;
    margin-top: 2vh;
}

#btn-wrapper {
    display: flex;
    width: 50vw;
    justify-content: right;
}

#listing-top-part {
    display: flex;
}

#listing-carousel {
    width: 43vw;
}

#listing-purchase-menu {
    width:33vw;
}

#listing-carousel img{
    max-height: 66vh;
    max-width: 33vw;
}

.carousel-item.active {
    display: flex;
    justify-content: center;
    background-color: black;
}

#listing-top-part {
    display: flex;
    justify-content: center;
}

#listing-purchase-menu {
    padding-left: 50px;
}

.quantity-field  {
    width: 50px;
}

#form-buttons {
    margin-top: 3vh;
}

#listing-page-header {
    display: inline-flex;
    margin-bottom: 2vh;
}

#listing-page-title {
    margin-right: 2vw;
    margin-bottom: 0;
}

#listing-description {
    display: flex;
    justify-content: center;
    min-height: 20vh;
    margin-top: 10vh;
    width:60vw;
    flex-direction: column;
}

#description-wrapper {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
}

.category {
    font-size: 2rem;
    text-decoration: none;
}

.category-item {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.btn {
    max-width: 100px;
}