body {
    margin: 0;
    background-color: white;
    max-width: 99vw;
}

#new-page-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
    margin-bottom: 5vh;
}

ul {
    list-style: none;
}

.list-item {
    margin-bottom:2vh;
}

#sidebar-form {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

textarea {
    height: 70vh;
    width: 70%;
}

.main {
    width: 70vw;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: auto;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
    text-align: center;
}

#title-bar {
    width: 70%;
    margin-bottom: 3vh;
    margin-top: 2vh;
}

#submit-btn {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#submit-error {
    height: 5vh;
    text-align: center;
    color: red;
    font-size: 2rem;
}

.hidden {
    display: none;
}

#btn-container {
    margin-top: 5vh;
}

#edit-btn {
    margin-left: 60vw;
}

@media screen and (min-width: 900px) {
    #text-proper {
        padding-left: 5vw;
        padding-right: 20vw;
    }
}

#text-proper {
    text-align: justify;
    text-justify: inter-word;
}

#text-proper > p {
    margin-top: 1vh;
    margin-bottom: 3vh;
}

#text-proper > h1 {
    margin-top: 3vh;
    margin-bottom: 7vh;
}

#text-proper > h2 {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#text-proper > h3 {
    margin-top: 4vh;
    margin-bottom: 4vh;
}

#text-proper > h4 {
    margin-top: 4vh;
    margin-bottom: 3vh;
}

#text-proper > h5 {
    margin-top: 4vh;
    margin-bottom: 3vh;
}

#text-proper > h6 {
    margin-top: 4vh;
    margin-bottom: 3vh;
}