.catalog {
  justify-content: center;
} 

.catalogitem {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-right: 50px;
  margin-left: 50px;
}

.card {
  border-radius: 50px;
  min-width: 345px;
  min-height: 388px;
  cursor: pointer;  
}

.title {
  text-align: center;
}

.info {
  display: flex;
  justify-content: space-around;
}

.restrictions {
  margin-top: auto;
  padding-right: 20px;
  display: flex;
  justify-content: right;
}

.source {
  margin-top: revert;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchDiv {
  display: flex;
  justify-content: center;
  width: 100%;
}

.searchBox {
  width: 25%;
}