{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <div id="emails-view"></div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input id="compose-sender" disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <div id="btn-wrapper">
                <input type="submit" id="submit-btn" class="btn btn-primary" value="Submit">
            </div>
        </form>
    </div>
    <div id="display-view">
        <button id="archive-btn" class="btn btn-secondary"></button>
        <form id="compose-form">
            <input name="display-id" class="hidden" readonly>
            <div class="form-group">
                From: <input id="sender" class="display-item" readonly>
            </div>
            <div class="form-group">
                To: <input id="display-recipients" class="display-item" readonly>
            </div>
            <div class="form-group">
                <input class="display-item" id="display-subject" placeholder="Subject" readonly>
            </div>
            <textarea class="display-item" id="display-body" placeholder="Body" readonly></textarea>
        </form>
        <button id="reply" class="btn btn-secondary"><img id="reply-icon" src='{% static "mail/reply_icon.png" %}'></button>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>    
{% endblock %}