@keyframes show {
  0% {
      display: none;
      opacity: 0;
      height: 0px;
      line-height: 0px;
      padding: 0px;
      margin-bottom: 0px;
  }
  25% {
      opacity: 0;
      height: 100%;
      line-height: 100%;
  }
  100% {
      display: block;
      opacity: 1;
      height: 100%;
      line-height: 100%;
  }
}

@keyframes hide {
  0% {
      display: block;
      opacity: 1;
      height: 100%;
      line-height: 100%;
  }
  75% {
      opacity: 0;
      height: 100%;
      line-height: 100%;
  }
  100% {
      display: none;
      opacity: 0;
      height: 0px;
      line-height: 0px;
      padding: 0px;
      margin-bottom: 0px;
  }
}

@keyframes btn-up {
  100% {
    margin-top: -30px;
  }
  0%{
    margin-top: 0px; 
  } 
}

@keyframes btn-down {
  100% {
    margin-top: 0px;
  }
  0%{
    margin-top: -30px; 
  } 
}

.body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.view {
  width: 50vw;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#input-area {
  margin-top: 2vh;
}

#post-input {
  width: 100%;
  min-height: 150px;
}

#image-input {
  width: 100%;
  margin-top: 1vh;
}

.input-area-item {
  display: flex;
  width: 100%;
  justify-content: right;
}

#image-btn {
  background-color: transparent;
  height:35px;
  position: absolute;
  border-style: none;
  border-radius: 100%;
  margin: 5px;
}

#post-btn {
  margin-top: -30px;
}

.move-up {
  animation-name: btn-up;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.move-down {
  animation-name: btn-down;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

#image-btn:hover {
  background-color: rgba(179, 204, 255)
}

.image-icon {
  height: 30px;
}

#image-btn:active {
  background-color: rgba(179, 204, 255);
}

.outline {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-top: 0px;
}

.separator {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  margin-top: 5px;
  margin-bottom: 5px;
}

.post-wrapper {
  display: flex;
}

.avatar {
  height: 72px;
  width: 72px;
  border-radius: 100%;
  margin-right: 10px;
  margin-left: 10px;
}

.avatar-small {
  height: 36px;
  width: 36px;
  border-radius: 100%;
  margin-right: 10px;
  margin-left: 10px;
}

#profile-header {
  display: flex;
}

#profile-buttons {
  margin-top: 50px;
  margin-left: auto;
  width: 100px;
}

.username {
  font-size: 15px;
}

.username:hover {
  text-decoration: underline;
}

.pagination {
  justify-content: center;
}

.already-followed {
  background-color: white;
  color:blue;
}

.hidden-image-input {
  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  pointer-events:none;
}

.unhidden-image-input {
  animation-name: hide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.hidden {
  display: none;
}