@keyframes show {
  0% {
      display: none;
      opacity: 0;
      height: 0px;
      line-height: 0px;
      padding: 0px;
      margin-bottom: 0px;
  }
  25% {
      opacity: 0;
      height: 100%;
      line-height: 100%;
  }
  100% {
      display: block;
      opacity: 1;
      height: 100%;
      line-height: 100%;
  }
}

@keyframes hide {
  0% {
      display: block;
      opacity: 1;
      height: 100%;
      line-height: 100%;
  }
  75% {
      opacity: 0;
      height: 100%;
      line-height: 100%;
  }
  100% {
      display: none;
      opacity: 0;
      height: 0px;
      line-height: 0px;
      padding: 0px;
      margin-bottom: 0px;
  }
}

@keyframes btn-up {
  100% {
    margin-top: -30px;
  }
  0%{
    margin-top: 0px; 
  } 
}

@keyframes btn-down {
  100% {
    margin-top: 0px;
  }
  0%{
    margin-top: -30px; 
  } 
}

@keyframes white-to-black-btn {
  100% {
    background-color: black;
  }
  0% {
    background-color: white;
  }
}

@keyframes black-to-white-btn {
  100% {
    background-color: white;
  }
  0% {
    background-color: black;
  }
}

@keyframes white-to-red-heart {
  100% {
    color: red;
  }
  0% {
    color: white;
  }
}

@keyframes red-to-white-heart {
  100% {
    color: white;
  }
  0% {
    color: red;
  }
}

@keyframes shrink-post {
  0% {
    height: 100%;
    max-height: 800px;
    opacity: 0.8;
    padding: 0;
  }
  25% {
    height: 100%;
    max-height: 500px;
    opacity: 0;
    padding: 0;
  }
  60% {
    max-height: 300px;
    opacity: 0;
    padding: 0;
  }
  100% {
    max-height: 0px;
    opacity: 0;
    padding: 0;
  }
  
}

@media screen and (min-width: 980px) {
  #navbar {
    width: 90vw !important;
  }
  
  #search-nav {
    margin-left: auto !important;
  }

  #search-bar {
    width: 300px !important;
  }
  .suggestion-dropdown-div {
    width: 300px !important;
  }
}

#search-nav {
  padding-right: 20px;
}

.suggestion-dropdown-div {
  width: 220px;
  position: absolute !important;
  z-index: 9;
  margin-top: -25px;
  padding-top: 20px;
}

#search-bar {
  width: 220px;
  position: relative;
  z-index: 10;
  height: 35px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(26, 24, 24, 0.452);
  padding-left: 10px;
}

#search-bar:focus {
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-btn {
  width: 85px;
}

#header-info {
  display: flex;
  flex-direction: column;
}

#join-date {
  margin-bottom: 10px;
}

textarea {
  resize: none;
  border-radius: 10px;
  border-style: hidden;
  scrollbar-width: thin;
}

.body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.view {
  width: 50vw;
  max-width: 630px;
  min-width: 420px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input-area {
  margin-top: 2vh;
}

.post-input {
  width: 100%;
  min-height: 150px;
  padding-right: 50px;
}

.image-input {
  width: 100%;
  margin-top: 1vh;
}

.input-area-item {
  display: flex;
  width: 100%;
  justify-content: right;
}

.image-btn {
  background-color: transparent;
  height:35px;
  position: absolute;
  border-style: none;
  border-radius: 100%;
  margin: 5px;
}

.post-btn {
  margin-top: -30px;
}

.move-up {
  animation-name: btn-up;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.move-down {
  animation-name: btn-down;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.image-btn:hover {
  background-color: rgba(179, 204, 255)
}

.image-icon {
  height: 30px;
}

.image-btn:active {
  background-color: rgba(179, 204, 255);
}

.outline {
  border-color: rgba(0, 0, 0, 0.5);
  border-width: 1px;
  border-style: solid;
  border-top: 0px;
}

.important-separator {
    border-color: rgba(0, 0, 0, 0.5);
    border-width: 1px;
    border-style: solid;
  }

.separator {
  border-color: rgba(0, 0, 0, 0.5);
  border-width: 1px;
  border-style: solid;
}

.post-wrapper {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 420px;
  padding-top: 5px;
  padding-bottom: 5px;
  min-height: 300px;
}

.post-wrapper:hover {
  background-color: rgb(245, 241, 238);
}

.post-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#comment-area {
  padding-top: 10px;
  padding-bottom: 10px;
}

.comment-wrapper {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 420px;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.remove-wrapper {
  min-height: 0px !important; 
  animation-name: shrink-post;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-timing-function: linear;
}

.remove-btn {
  color: red !important;
}

.avatar {
  height: 72px;
  width: 72px;
  border-radius: 100%;
  margin-right: 10px;
  margin-left: 10px;
}

.avatar-small {
  height: 36px;
  width: 36px;
  border-radius: 100%;
  margin-right: 10px;
  margin-left: 10px;
}

#profile-info {
  padding-top: 10px;
  padding-bottom: 10px;
}

#profile-header {
  display: flex;
}

#profile-buttons {
  margin-left: auto;
  width: 100px;
}

.username {
  font-size: 15px;
}

.username:hover {
  text-decoration: underline;
}

.pagination {
  justify-content: center;
}

.already-followed {
  background-color: white;
  color:blue;
}

.post-image-wrapper {
  margin-top: 10px;
}

.post-header {
  width: 40vw;
  min-width: 320px;
  max-width: 500px;
}

.post-image {
  width: 40vw;
  min-width: 320px;
  max-width: 500px;
  max-height: 800px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  border-width: 1px;
}

.content {
  width: 40vw;
  min-width: 320px;
  max-width: 500px;
  text-align: justify;
}

.svg-heart {
  height:25px;
  width: 25px;
}

.red-heart {
  color: red;
  animation-name: red-to-white-heart;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.white-heart {
  color: white;
  animation-name: white-to-red-heart;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.like-div {
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

.like-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  box-shadow: none;
  border: 0;
  height: 35px;
  width: 35px;
  padding: 0;
  padding-top:2px;
  margin-right: 10px;
}

.like-btn:focus {
  outline: none;
}

.already-liked {
  background-color: white;
  border-color: white;
  animation-name: white-to-black-btn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
} 

.not-liked {
  background-color: black;
  border-color: black;
  animation-name: black-to-white-btn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.options-btn {
  margin-left: 90%;
  margin-top: -80px; 
  background-color: transparent;
}

.comment-btn {
  height: 35px;
  width: 35px;
  background-color: transparent;
  border-radius: 100%;
  box-shadow: none;
  border: 0;
  margin-left: 50px;
}

.comment-icon {
  height: 25px;
  width: 25px;
}

.suggestion-wrapper {
  display: flex;
  padding: 8px;
  min-width: 220px; 
}

.suggestion-wrapper:hover {
  background-color: azure;
}

.suggestion-profile-info {
  display: flex;
  flex-direction: column;
}

.suggestion-avatar-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inactive-btn {
  color: lightgray !important;
  pointer-events: none;
}

.inactive-btn:hover {
  cursor: default !important;
}

.hidden-image-input {
  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  pointer-events:none;
}

.unhidden-image-input {
  animation-name: hide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.hidden {
  display: none;
}

a:not([href]):hover {
  cursor:pointer;
}