{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div id="middle-section" class="outline">
    <div id="profile-view" class="view header">
        <div id="profile-info">
            <div id="profile-header">
                <span id="avatar-wrapper"></span>
                <div id="header-info">
                    <span id="username-wrapper"><p id="username"></p></span>
                    <span id="join-date"></span>
                </div>
            </div>
            <div id="profile-buttons">
                <button class="btn btn-primary" id="follow-button">Follow</button>
            </div>
        </div>
    </div>
    <div id="post-input-view" class="view header">
        {% csrf_token %}
        {% if user.is_authenticated %}
            <div id="input-area" class="container">
                <div class="input-area-item">
                    <textarea id="post-input" placeholder="What's on your mind?" maxlength="255"></textarea>
                    <button id="image-btn" class="btn-outline-primary" onclick="this.blur();"><svg viewBox="0 0 24 24" aria-hidden="true" class="image-icon"><g><path d="M19.75 2H4.25C3.01 2 2 3.01 2 4.25v15.5C2 20.99 3.01 22 4.25 22h15.5c1.24 0 2.25-1.01 2.25-2.25V4.25C22 3.01 20.99 2 19.75 2zM4.25 3.5h15.5c.413 0 .75.337.75.75v9.676l-3.858-3.858c-.14-.14-.33-.22-.53-.22h-.003c-.2 0-.393.08-.532.224l-4.317 4.384-1.813-1.806c-.14-.14-.33-.22-.53-.22-.193-.03-.395.08-.535.227L3.5 17.642V4.25c0-.413.337-.75.75-.75zm-.744 16.28l5.418-5.534 6.282 6.254H4.25c-.402 0-.727-.322-.744-.72zm16.244.72h-2.42l-5.007-4.987 3.792-3.85 4.385 4.384v3.703c0 .413-.337.75-.75.75z"></path><circle cx="8.868" cy="8.309" r="1.542"></circle></g></svg></button>
                </div>
                <div id="image-input-div" class="input-area-item hidden-image-input">
                    <input type="text" id="image-input" placeholder="Your image URL">
                </div>
                <div class="input-area-item">
                    <button class="btn btn-secondary move-down" id="post-btn">Post</button>
                </div>
            </div>
        {% endif %}
    </div>
    <div id="post-view" class="view">
    </div>
    <div id="post-list-view" class="view">
        <div id="posts"></div>
        <nav>
            <ul class="pagination" id="pages">
              <li class="page-item"><a class="page-link" href="#"><span aria-hidden="true">&laquo;</span></a></li>
              <li class="page-item"><a class="page-link" href="#"><span aria-hidden="true">&raquo;</span></a></li>
            </ul>
          </nav>
    </div>
    <div id="user-list-view" class="view">
        <div id="user-list"></div>
    </div>
    <div id="settings-view" class="view">
        <div id="settings"></div>
    </div>
</div>   
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script src="{% static 'network/network.js' %}"></script>
{% if called_page == "profile" %}
    <script>
        profile_page('{{ username }}');
    </script>
{% elif called_page == "home" %}
    <script>
        get_feed("homepage")
    </script>
{% elif called_page == "all_posts" %}
    <script>
        get_feed("all_posts")
    </script>
{% endif %}
{% endblock %}