{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Social Network{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'network/styles.css' %}" rel="stylesheet">
</head>

<body>
    <div class="hidden">
        <span id="current-page"></span>
        <svg version="1.1" class="svg-heart" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 230 230" style="enable-background:new 0 0 230 230;" xml:space="preserve">
            <path fill="currentColor" d="M213.588,120.982L115,213.445l-98.588-92.463C-6.537,96.466-5.26,57.99,19.248,35.047l2.227-2.083
	        c24.51-22.942,62.984-21.674,85.934,2.842L115,43.709l7.592-7.903c22.949-24.516,61.424-25.784,85.936-2.842l2.227,2.083
	        C235.26,57.99,236.537,96.466,213.588,120.982z"></path>
        </svg>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" id="network-button" href="#">Network</a>

        <div>
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <input id="current-user" value={{ user.username }} class="hidden">
                    <a id="current-user-profile" class="nav-link" href="#"><strong>{{ user.username }}</strong></a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" id="all-posts" href="#">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" id="homepage" href="#">Following</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="log" href="{% url 'logout' %}">Log Out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" id="log" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="body">
        {% block body %}
        {% endblock %}
</body>

</html>